.pill {
  color: var(--island-fg);
  --icon: var(--island-fg);
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
  background: var(--island-bg);
  padding: 0.5em 2em;
  z-index: 50;
  min-width: 280px;
  max-width: calc(100vw - 40px);
  transition: opacity 200ms cubic-bezier(0.666, 0, 0.4, 1),
    transform 200ms cubic-bezier(0.666, 0, 0.4, 1);

  // move the pill up and hide it when typing starts
  :global(body.typing) & {
    transform: translate(-50%, -100%);
    opacity: 0;
    pointer-events: none;
  }

  // pill content
  & > * {
    transition: opacity 300ms ease;
  }

  // when the island is open, hide pill content - but not pill itself
  [data-island-open='true'] & > * {
    opacity: 0;
    pointer-events: none;
  }
}

.dynamicIslandExpander {
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 40px;
  transform-origin: top;
  position: absolute;
  top: 30px;
  left: 50%;
  background: var(--island-bg);
  border-radius: 14px;
  color: var(--island-fg);
  z-index: 50;

  &:not([data-show='true']) {
    display: none;
  }

  animation: island-open 400ms cubic-bezier(0.666, 0, 0.4, 1) forwards;

  // island closing animation
  &[data-closing='true'] {
    animation: island-close 400ms cubic-bezier(0.666, 0, 0.4, 1) forwards;
  }

  // fade out the content of island when closing
  &[data-closing='true'] > * {
    animation: fade-out 300ms ease forwards;
  }

  // fade in the content of island when opening
  &[data-show='true']:not([data-closing='true']) > * {
    animation: fade-in 300ms ease forwards;
  }
}

.closeIcon {
  padding: 0;
  --icon: var(--island-fg);
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
}

@keyframes island-open {
  0% {
    transform: translateX(-50%) scaleY(0) scaleX(var(--ratio));
  }

  100% {
    transform: translateX(-50%) scale(1);
  }
}

@keyframes island-close {
  0% {
    transform: translateX(-50%) scale(1);
  }
  100% {
    transform: translateX(-50%) scaleY(0) scaleX(var(--ratio));
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
