.container {
  min-height: 100vh;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  height: 100vh;

  @media (max-width: 1600px) {
    max-width: 1000px;
  }

  @media (max-width: 1400px) {
    max-width: 900px;
  }

  @media (max-width: 1200px) {
    max-width: 800px;
  }
}

.tips {
  z-index: -1;

  position: fixed;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: auto;
  color: var(--secondary);
  width: 100%;
  transition: opacity 200ms ease;
  left: 0;
  vertical-align: middle;

  // hide when not typing
  :global(body:not(.typing)) & {
    pointer-events: none;
    opacity: 0;
  }

  @media (max-width: 1500px) {
    font-size: 12px;
  }

  kbd {
    font-size: 0.9em;
    padding: 0.4em 0.8em;
    padding-top: 0.2em;
    border-radius: 0.2em;
    display: block;
    margin-right: 10px;
    border: 1px solid var(--secondary);
  }
}
