.container {
	min-height: 100vh;
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	height: 100vh;
}

.dashboard {
	outline: none !important;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--typed-char);
	padding-top: 20px;
	padding-bottom: 20px;
}
