.container {
	min-height: 100vh;
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}

.loader {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	text-transform: uppercase;
	opacity: 0;
	animation: fade-in 400ms 200ms ease forwards;
	--icon: var(--secondary);
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.dashboard {
	outline: none !important;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--typed-char);
	padding-top: 20px;
	padding-bottom: 20px;
}
