.keyStats {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	margin: 0 auto;
	margin-top: auto;
	margin-bottom: 50px;
	padding-top: 50px;
	gap: 20px;

	@media (max-width: 600px) {
		gap: 5px;
	}
}

.row {
	display: flex;
	gap: 22px;

	@media (max-width: 600px) {
		gap: 10px;
		padding: 10px;
	}
}

.statsContainer {
	position: absolute;
	background: var(--color);
	box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.2);
	min-width: 250px;
	color: var(--bodybg);
	z-index: 100;
	padding: 10px 20px;
	transform: translate(-50%, -50%) scale(0.7);
	pointer-events: none;
	border-radius: 2px;
	z-index: 100;
	gap: 10px;
	visibility: hidden;
	opacity: 0;
	top: 0;
	left: 50%;

	@media (max-width: 600px) {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
	}

	.speed {
		letter-spacing: 0.1em;
		font-size: 50px;
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.unit {
		font-size: 20px;
		letter-spacing: 0.1em;
	}
}

.keyStat {
	position: relative;

	&[data-pressed] {
		.keyName {
			color: var(--bodybg);
			background: var(--color, white);
			transform: scale(1.5);
		}
	}

	&:not(.notTyped):hover {
		@media (max-width: 600px) {
			transform: none;
		}

		.keyName {
			color: var(--bodybg);
			background: var(--color);
			transform: scale(1.3);
		}

		.statsContainer {
			transform: translate(-50%, -120%);
			opacity: 1;
			visibility: visible;
			transition: transform 100ms ease-out, opacity 100ms ease-out;
		}
	}
}

.fastest {
	--color: var(--fastest);
	--anim-duration: 1.5s;
}

.fast {
	--color: var(--fast);
	--anim-duration: 2s;
}

.normal {
	--color: var(--normal);
	--anim-duration: 2.5s;
}

.slow {
	--color: var(--slow);
	--anim-duration: 3s;
}

.slowest {
	--color: var(--slowest);
	--anim-duration: 3.5s;
}

.keyName {
	width: 52px;
	height: 52px;
	font-size: 28px;
	text-transform: uppercase;

	border-radius: 50%;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--color);
	transition: transform 200ms ease, color 200ms ease;
	border: 3px solid var(--color);

	animation: glow var(--anim-duration) ease infinite alternate;

	@media (max-width: 600px) {
		font-size: 12px;
		width: 24px;
		height: 24px;
	}
}

@keyframes glow {
	from {
		box-shadow: 0 0 20px var(--color);
	}
	to {
		box-shadow: 0 0 40px var(--color);
	}
}
