.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 4px solid;
    border-radius: 50%;
    animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--primary) transparent transparent transparent;
  }

  div:nth-child(1) {
    animation-delay: -0.45s;
  }
  div:nth-child(2) {
    animation-delay: -0.3s;
  }
  div:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.loaderWrapper {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  opacity: 0;
  animation: fade-in 400ms 200ms ease forwards;
  // this should be same as wordsWrapper
  margin-top: 150px;
  margin-bottom: 40px;

  @media (max-width: 1600px) {
    height: 340px;
  }

  @media (max-width: 1400px) {
    height: 300px;
  }

  @media (max-width: 600px) {
    height: 240px;
  }
}
