.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--typed-char);

	.appName {
		font-size: 20px;
		letter-spacing: 0.1em;
		text-transform: lowercase;
		color: var(--secondary);

		@media (max-width: 1200px) {
			font-size: 14px;
		}
	}

	a {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&Right {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	svg {
		--icon: var(--secondary);
		&:hover {
			--icon: var(--primary);
			transition: transform 100ms ease;
			transform: scale(1.2);
		}
	}

	@media (max-width: 600px) {
		svg {
			width: 24px;
			height: 24px;
		}
	}
}
