.nav {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-top: auto;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: var(--secondary);
	--icon: var(--secondary);
	font-size: 20px;

	svg {
		width: 24px;
		height: 24px;
	}

	@media (max-width: 1400px) {
		font-size: 12px;

		svg {
			width: 18px;
			height: 18px;
		}
	}

	.appName {
		letter-spacing: 0.1em;
		text-transform: lowercase;
	}

	a {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

:global(body.typing) .nav {
	opacity: 0;
	transition: opacity 200ms ease;
}
