.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--island-bg);
	z-index: 100;
	opacity: 0;
	filter: brightness(0.1);
	animation: modalFadeIn 200ms ease forwards;
}

@keyframes modalFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.4;
	}
}
