.settings {
	display: flex;
	align-items: center;
	gap: 20px;

	button {
		background: none;
		outline: none;
		border: none;
	}
}

.icons {
	display: flex;
	align-items: center;
	gap: 20px;

	& > * {
		cursor: pointer;
		display: flex;
		align-items: center;

		&:hover {
			transition: transform 100ms ease, color 100ms ease;
		}
	}
}

:global(body.typing) .settings {
	display: none;
}

.dataSelector {
	position: relative;
	padding-right: 24px;
	border-radius: 6px;
	cursor: pointer;
	font-size: 14px;

	svg {
		position: absolute;
		right: 0px;
		top: 50%;
		transform: translateY(-50%);
	}
}
