.statsContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  position: absolute;
  width: 300px;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  animation: fade-in 500ms ease;

  :global(body:not(.typing)) & {
    display: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.stat {
  .value {
    display: flex;
    gap: 0.1em;
    letter-spacing: 1;
    align-items: center;
    font-size: 40px;
    color: var(--primary);

    @media (max-width: 1600px) {
      font-size: 30px;
    }

    .unit {
      font-size: 0.5em;
      opacity: 0.7;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
