.statsContainer {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.stat {
	.value {
		display: flex;
		gap: 0.1em;
		letter-spacing: 1;
		align-items: center;
		font-size: 40px;
		color: var(--primary);

		@media (max-width: 1600px) {
			font-size: 30px;
		}

		.unit {
			font-size: 0.5em;
			opacity: 0.7;
		}
	}
}

:global(body:not(.typing)) .statsContainer {
	display: none;
}
