.wordsWrapper {
	outline: none;
	padding-bottom: 50px;
	padding-top: 50px;
	position: relative;
}

.words {
	text-align: center;
}

.word {
	margin-bottom: 10px;
	display: inline-flex;
	transition: all 50ms ease;
	border-bottom: 2px solid transparent;
}

.character {
	font-size: calc(55px * var(--font-size-multiplier, 1));
	padding: 0.03em;
	display: inline-block;
	color: var(--secondary);
	--icon: var(--typed-char);
	transition: color 100ms ease;

	@media (max-width: 600px) {
		font-size: calc(26px * var(--font-size-multiplier, 1));
	}

	// space
	svg {
		transform: translateY(30%);
		width: 0.6em;
		height: 0.6em;
	}

	&.error {
		color: var(--error);
		--icon: var(--error);
		text-shadow: 0 0 0.5em var(--error);
	}

	&.current {
		animation: cursor 500ms ease infinite;
	}

	&.error.current {
		animation: cursor-error 200ms ease infinite;
	}
}

// active word character
.word.current .character:not(.error, .typed) {
	color: var(--active-word);
}

// typed character
.character.typed:not(.error),
.word.typed .character:not(.error) {
	color: var(--typed-char);
}

@keyframes cursor {
	0%,
	60% {
		background: var(--primary);
		color: var(--bg);
	}
	70%,
	100% {
		background: var(--bg);
		color: var(--primary);
	}
}

@keyframes cursor-error {
	0%,
	60% {
		background: var(--error);
		color: var(--bg);
	}
	70%,
	100% {
		background: var(--bg);
		color: var(--error);
	}
}

.hiddenInput {
	opacity: 0;
	position: absolute;
	top: 50%;
	z-index: -1;
	pointer-events: none;
}
